@import 'vars';

.generalHeader {
    &--information {
        padding: 8px 0;

        text-align: center;
        color: $main-red;
        text-transform: none;
    }

    &--navigation {
        padding: 10px 0;

        background: $white;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;

    &--logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    &--menu {
        margin-left: 70px;
        text-transform: uppercase;

        .menu {
            & > li {
                float: left;
                padding: 12px 10px;
                position: relative;

                &:hover {
                    & > ul {
                        display: block;
                    }
                }

                & > a {
                    color: $base-text;

                    &:hover {
                        color: $main-red;
                    }

                    &.hash {
                        color: $main-red;

                        &:hover {
                            opacity: .75;
                        }
                    }
                }

                & > ul {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    z-index: 999;
                    width: 250px;
                    display: none;
                    padding-bottom: 12px;

                    background: $white;

                    & > li {
                        padding: 12px 10px 0;

                        & > a {
                            color: $base-text;

                            &:hover {
                                color: $main-red;
                            }
                        }
                    }

                }

            }
        }

        .subMenu {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 999;
            width: 250px;
            display: none;
            padding-bottom: 12px;

            background: $white;

            & > li {
                padding: 12px 10px 0;
            }

            &--item {
                color: $base-text;

                &:hover {
                    color: $main-red;
                }
            }
        }
    }

    &--tools {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .tools {
            &--tool {
                margin: 0 10px;

                &:hover {
                    opacity: .75;
                }
            }
        }
    }
}