.productBox {
    display: flex;
    position: relative;
    margin-top: 45px; 

    &--info {
        flex: 1 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        width: 100%;
        background: #d7d7d7;
    }

    .info {
        &--title {
            font-size: 16px;
            letter-spacing: .05em;

            span {
                font-weight: bold;
            }
        }

        &--price {
            padding: 15px 0;

            font-size: 18px;
            font-weight: bold;
            color: $main-red;
        }

        &--quantity {
            display: block;
            margin: 15px 0;
            input {
                font-size: 12px;
                border: none;
                padding: 3px 5px;;
                width: 30px;
                text-align: center;
                outline: none;
            }
        }

        &--more {
            padding: 20px 5px 0;
        }

        &--social {
            display: flex;
            margin-bottom: 40px;
            padding: 5px;

            & > a {
                width: 15px;
                height: 15px;
                margin-right: 15px;
                background-position: center;
                background-repeat: no-repeat;

                &:hover {
                    opacity: .5;
                }
            }
        }

        &--images {
            float: left;
            width: 90px;
            padding: 0 5px;
        }

        &--generalImage {
            margin-left: 130px;
            margin-right: 60px;

            text-align: center;
            
            img {
                max-width: 300px;
            }
        }
    }

    .selfImages {
        text-align: center;

        &--item {
            margin-bottom: 30px;
            display: block; 
        }
    }

    .more {
        &--item {
            position: relative;
            display: flex;
            padding: 4px;
        }

        &--icon { 
            width: 15px;
            height: 15px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}
