@import '../vars';

.similarGoods {
    .tabs {
        padding: 23px;
        margin-bottom: 15px;

        text-align: center;

        &--tab {
            margin: 0 12px;
            padding-bottom: 2px;

            font-size: 16px;
            opacity: .5;

            &.active {
                opacity: 1;
                border-bottom: 1px solid $base_text;
            }
        }
    }

    .slider {
        position: absolute;
        left: 0;
        top: 0;
        transition: left 500ms linear;
        display: flex;

        &--wrapper {
            position: relative;
            height: 375px;
            overflow: hidden;
        }
        
        &--slide {
            float: left;
            width: 175px;
            margin: 0 20px;
            text-align: center;
        }

        &--arrow {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 35%;
            border: none;
            cursor: pointer;
            outline: none;
            z-index: 999;

            &:hover {
                opacity: .75;
            }

            &.left {   
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                left: 0;
            }

            &.right { 
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 15px;
                right: 0;
            }
        }
    
        .slide {
            &--checkout {
                display: flex;
                justify-content: center;

                color: $main-red;

                & > div {
                    width: 15px;
                    height: 15px;

                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}