.productBox {
    display: flex;
    position: relative;
    margin-top: 25px;

    &--info {
        flex-grow: 1;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        width: 100%;
        background: #d7d7d7;
    }

    .info {
        &--title {
            font-size: 16px;
            letter-spacing: .05em;
        }

        &--price {
            padding: 15px 0;

            font-size: 18px;
            font-weight: bold;
            color: $main-red;
        }

        &--quantity {
            display: block;
            margin: 15px 0;
            input {
                font-size: 12px;
                border: none;
                padding: 3px 5px;;
                width: 30px;
                text-align: center;
                outline: none;
            }
        }

        &--more {
            padding: 20px 5px;
        }

        &--images {
            float: left;
            width: 90px;
            padding: 0 5px;
        }

        &--generalImage {
            padding: 0 20px;
            margin-left: 100px;

            text-align: center;
        }
    }

    .selfImages {
        text-align: center;

        &--item {
            margin: 15px 0;
        }
    }

    .more {
        &--item {
            position: relative;
            display: flex;
            padding: 4px;

            &:after {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                background: url('/img/icons/arrow_down.png') center no-repeat;
            }
        }
    }
}
